.navbar.navbar-inverse
  .navbar-inner
    .container
      = link_to "RoR Course", root_path, class: "brand"
      %ul.nav
        - if admin_user?
          = render 'shared/admin/nav'
        - else
          %li
            = link_to 'Course -Ruby on Rails',    course_contents_path
          %li
            = link_to 'Take a quick Ruby challenge', challenges_path
          %li
            = link_to 'Ask a question', asks_path