%h1 Course Content
#listContainer
  %ol#expList
    %li
      = t "Introduction", default: "Introduction"
      %ol
        %li
          = t "ror-course.ItemA.1", default: "Item A.1"
          %ol
            %li
              = t "ror-course.ContentsA.1", default: "Lorem ipsum dolor sit amet."
        %li
          = t "ItemA.2", default: "Item A.2"
          %ol
            %li
              = t "ror-course.ContentsA.2", default: "Lorem ipsum dolor sit amet."
        %li
          = t "Item A.3", default: "Item A.3"
          %ol
            %li
              = t "ror-course.ContentsA.3",default: "Lorem ipsum dolor sit amet."
    %li
      = t "ror-course.Basics", default: "Basics of Ruby"
      %ol
        %li
          = t "ror-course.Basics1",default:"SubLevel1"  
          %ol
            %li
              = t "ror-course.Basics2",default:"SubLevel2"
              %ol
                %li
                  = t "ror-course.Basics3",default:"SubLevel3"
    %li
      = t "ror-course.Sneak",default: "A sneak-peek at web application"
      %ol
        %li
          = t "ror-course.ItemC.1",default:"Item C.1"
          %ol
            %li
              = t "ror-course.ContentsC.1",default: "Lorem ipsum dolor sit amet"
        %li
          = t "ror-course.ItemC.2",default:"Item C.2"
          %ol
            %li
              = t "ror-course.ContentsC.2",default:"Lorem ipsum dolor sit amet."
              
              
 