#listContainer
  %ol#expList
    %li
      Introduction
      %ol
        %li
          Item A.1
          %ol
            %li
              = t "ror-course.ItemA.1", default: "Lorem ipsum dolor sit amet."
        %li
          Item A.2
          %ol
            %li
              = t "ror-course.ItemA.2", default: "Lorem ipsum dolor sit amet."
        %li
          Item A.3
          %ol
            %li
              = t "ror-course.ItemA.3",default: "Lorem ipsum dolor sit amet."
    %li
      Basics of Ruby
      %ol
        %li
          = t "ror-course.Basics1",default:"SubLevel1"  
          %ol
            %li
              = t "ror-course.Basics2",default:"SubLevel2"
              %ol
                %li
                  = t "ror-course.Basics3",default:"SubLevel3"
    %li
      A sneak-peek at web application
      %ol
        %li
          Item C.1
          %ol
            %li
              = t "ror-course.ItemC.1",default: "Lorem ipsum dolor sit amet"
        %li
          Item C.2
          %ol
            %li
              = t "ror-course.ItemC.2",default:"Lorem ipsum dolor sit amet."
              
              
 