= form_for(@question, :url => ask_path, html: { class: 'form-horizontal span10' }) do |f|
  .control-group
    = f.label :email, class: 'control-label'
    .controls
      = f.email_field :email
  .control-group
    = f.label :description, class: 'control-label'
    .controls
      = f.text_area :description
  .control-group
    .controls
      = f.button 'Ask', class: 'btn btn-large pull-right'