.span12.pull-left
  %h1 Ask a question
  = render 'ask_form'
  #question-list.clear-fix
    - @questions.each do |q|
      .box.span11
        .row-fluid
          .span12.label.label-info
            = q.email + " asked:"
          .span10
            = q.description
        .row-fluid
          .span12.label.label-success
            = "Admin answered: "
          .span10
            = q.respond
      