.row-fluid
  %h1 Ask a question
  = render 'ask_form'
.row.clear-fix
  - @questions.each do |q|
    .box.span11
      .row-fluid
        .label.label-info
          = q.email + " asked:"
        .span12
          = q.description
      .row-fluid
        .label.label-success
          = "Admin answered: "
        .span12
          = q.respond
    