- if @question.type?('text')
  = f.hidden_field :selected
  = f.text_field :content
- else
  = f.check_box :selected, :title => 'Mark as answer'
  -#= f.label :selected, "Mark as answer"
  = f.text_field :content
  = f.link_to_remove 'remove', :class => 'btn'
