= nested_form_for  setup_question(@question) do |f|
  .control-group
    = f.label :qtype, 'Type'
    = f.select :qtype, options_for_select(question_types, @question.qtype)
  .control-group
    = f.label :description, 'Question'
    = f.text_area :description
  .control-group.choices
    Answers/Choices
    = f.fields_for :options do |builder|
      .choice-list
        = render 'choice_fields', :f => builder
    - if !@question.type?('text')
      = f.link_to_add 'add a choice', :options, :class => 'btn'
  .control-group
    = f.submit nil
