- pages = number_of_pages(@questions)
= render 'shared/pagination', :pages => pages
#title
  %h1 Challenge Questions
.row-fluid.pages
  = form_tag('/challenges/submit')
  .container-fluid.pages
    - 1.upto pages do |page|
      .page.row-fluid
        .span10.offset1
          - page_items(@questions, page).each do |item|
            .page-item.border2
              - if user_signed_in? && current_user.is_admin?
                .action.pull-right
                  .btn
                    = link_to '', edit_challenge_path(item), :class => 'icon-edit', :title => 'Edit'
              .item-idx
              .description.span11
                = item.description
              .answer.clear
                = render 'set_answer_input', :question => item
    = submit_tag 'Submit', :class => 'btn pull-right'
= render 'shared/pagination', :pages => pages
    